h1{
    font-weight: 400;
}
h1:hover{
    font-weight: 900;
}
img{
    height: 410px;
    width: 330px;
    transition: all 1s;
}
img:hover{
    transform: scale(1.1);
}

button{
    height: 40PX;
    width: 330px;
    color: whitesmoke;
    background-color: orange;
}
button:hover{
    background-color: orangered;
}
a{
    text-decoration: none;
    font-family: arial;
    color: black;
}
a:hover{
    font-weight: bolder;
}